<section class="admin-dashboard">
  
  <header class="page-header">  
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= link_to 'Number of Products', [:admin, :products] %></th>
        <th><%= link_to 'Number of Categories', [:admin, :categories] %></th>
      </tr>
    </thead>
    <tbody>
    <tr>
     <td><%= @product_count %></td>
     <td><%= @category_count %></td>
    </tr>
    </tbody>
  </div>

</section>